@mixin generate-message {
  @include block(messages) {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    top: 16px;
    font-size: .93rem;
    z-index: $z-message;
  }

  @include block(message) {
    position: absolute;
    width: auto;
    left: 50%;

    @include element(body) {
      position: relative;
      right: 50%;
      padding: .5em 2em;
      background-color: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      border-radius: .3em;
    }

    @include element(icon) {
      margin-right: .5em;
      width: 1.1em;
      height: 1.1em;
    }

    @include element(content) {
      vertical-align: middle;
      color: $dark-gray;
    }
  }
}